@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 59, 54, 50;
  --foreground-contrast-rgb: 235, 255, 237;
  --background-start-rgb: 235, 255, 237;
  --background-end-rgb: 185, 232, 189;
  --desktop-background: 31, 31, 31;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--desktop-background));
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

button {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #688459;
  color: rgb(var(--foreground-contrast-rgb));
  border: none;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  overflow: clip;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 640px) {
  body {
    width: 24rem;
    margin: 0 auto;
  }
}


.loadingDiv {
  background-color: rgb(255, 255, 255);
  width: 100dvw;
  height: 100dvh;
  opacity: 0.3;
  position: absolute;
}

.loadingDiv .spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  & .path {
    stroke: rgb(114, 189, 255);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
